.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.star-icon,
.cart-icon {
  margin: 20px 0 20px 10px;
}

.star-count,
.cart-count {
  color: white;
  margin-left: 5px;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-element {
  margin-right: 10px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  text-transform: uppercase;

  &:hover {
    opacity: 0.7;
  }
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
